.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
.active {
  background: #0d6efd;
  color: #fff;
}
.active:focus {
  background: #0d6efd;
  color: #fff;
}
.myNav .pageCount {
  display: flex;
  padding-left: 0;
  list-style: none;
}
